# MongoDB
MONGO_USER=root
MONGO_PASSWORD=supersecretpassword
MONGO_PORT=27017
MONGO_DB=rents_db

SECRET_KEY=AbrBdBrubLa

#32 symb +
JWT_SOLT=hgffvghMBk4kjllnLHLlhlh656464sdJJJJJJldtfjgDffFKFKffFH

MAILER_USER=sword_ukr@ukr.net
MAILER_PASS=141kahLaNaRiFjZ2

MAILER_HOST=smtp.ukr.net
MAILER_PORT=465

UPLOAD_DIR=static/images
OUTSIDE_HOST=''
EXPOSE_APP_PORT=''

#MAILER_SECURE=true