# Параметры MongoDB (внутренние для сети Docker)
MONGO_USER=root
MONGO_PASSWORD=supersecretpassword
MONGO_DB=staged_database
#MONGO_HOST должен совпадать с именем сервиса в docker-compose
MONGO_HOST=staged_db
MONGO_PORT=27017

# Порты наружу
EXPOSE_MONGO_PORT=27018
EXPOSE_APP_PORT=8080

# Безопасность
SECRET_KEY=AbrBdBrubLa
JWT_SOLT=hgffvghMBk4kjllnLHLlhlh656464sdJJJJJJldtfjgDffFKFKffFH

# Почта
MAILER_USER=sword_ukr@ukr.net
MAILER_PASS=141kahLaNaRiFjZ2
MAILER_HOST=smtp.ukr.net
MAILER_PORT=465